{% extends 'base_mod.html' %}

{% block title %} Proba Awards - Модератор {% endblock %}

{% block name %} {{ request.user }} {% endblock %}

{% block content %}
<style>
    .choose_acc {
        background: #F5F5F5;
        padding: 15px;
    }
    .active_btn {
        color:white;
        background-color:#F6A237;
        border-radius:15px;
        font-weight: 500;
        outline:none;
        text-decoration:none;
        text-transform:uppercase;
        text-align:center;
        padding: 5px;
    }
    .non_active {
        color: #000000;
        background:transparent;
        border-radius:15px;
        border:1px solid #F6A237;
        text-transform: uppercase;
        outline:none;
        text-decoration: none;
        font-weight: 500;
        text-align:center;
        padding: 5px;
    }
    .choose_acc a {
        margin:5px;
    }
    table.table {
        border: 0px solid transparent;
    }
    .row.members {
        border: 1px solid #CCCCCC;
        padding: 10px;
        border-radius: 15px;
        margin-top: 10px;
    }
    .head {
        font-size:14px;
    }
</style>
<div class="choose_acc">
    <div class="container">
        <div class="row">
            <h3 style="text-transform:uppercase;font-weight:bold">Аккаунты</h3>
            <div class="row">
                <a class="non_active col-md-2" aria-current="page" href="{% url 'mod' %}">конкурсанты</a>
                <a class="active_btn col-md-2" aria-current="page" href="{% url 'work' %}">жюри</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {% for message in messages  %}
        <center>{{ message }}</center>
    {% endfor %}
    <div class="row" style="font-weight:700; text-transform: uppercase;">
        <p class="col-md head">Имя</p>
        <p class="col-md head">Группа</p>
        <p class="col-md-1 head" style="color:transparent">Email</p>
    </div>
    {% for jury, group in  total %}
        <div class="row members">
                <p class="col-md">{{jury.name}}</p>
                <p class="col-md">{{ group.name }}</p>
                <p class="col-md-1"><a href="/delete_jury/{{ jury.id }}" class="active_btn">Удалить</a></p>
        </div>
    {% endfor %}
</div>
{% endblock %}